<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JY_KC24Mapper">
	
	<resultMap id="BaseResultMap" type="com.neusoft.model.JY_KC24" >
		
	</resultMap>
	
	<select id="getSqlData" parameterType="String" resultType="java.util.HashMap">
	    ${value}
	</select>
	
	<select id="findAll" resultType="com.neusoft.model.JY_KC24">
		select *from JY_KC24
	</select>
	
	<select id="findAllNoAccount" parameterType="java.util.HashMap" resultType="com.neusoft.model.JY_KC24">
	
		SELECT AAC003, YAB003,YAB300,YAB060,YAB600, AKB021, AAE040, AKC190, AAC002, AKC351,AAE314,AAA204 FROM JY_KC24 KC24 
		WHERE TO_CHAR(AAE036, 'yyyyMMdd') >= 20161101
		and nvl(AAE314,3) = 3
		and aka135 in ('1', '-1') 
		and aae072 not like '%CZ%' 
		AND EXISTS (SELECT 1 FROM AY31@YDJY WHERE P_MSGID = KC24.AKC350) 
		AND NOT EXISTS (SELECT 1 FROM JY_KC24 A WHERE A.AAC001 = KC24.AAC001 AND a.AKA135 = '2' AND SUBSTR(a.AAE072, 3) = KC24.AAE072)
		<if test="begin_time != null and begin_time != ''">
			AND TO_CHAR(AAE036, 'yyyy-MM-dd HH24:mi:ss') <![CDATA[ >= ]]>#{begin_time}
		</if> 
		<if test="end_time != null and end_time != ''">
			AND TO_CHAR(AAE036, 'yyyy-MM-dd HH24:mi:ss') <![CDATA[ <=]]> #{end_time}
		</if>
		ORDER BY AAE040 DESC
	
	</select>
	
	<select id="findAllAccount" parameterType="java.util.HashMap" resultType="com.neusoft.model.JY_KC24">
	
		SELECT AAC003, YAB003,YAB300,YAB060,YAB600, AKB021, AAE040, AKC190, AAC002, AKC351,AAE314,AAA204 FROM JY_KC24 KC24 
		WHERE TO_CHAR(AAE036, 'yyyyMMdd') >= 20161101
		and AAE314 = 1
		and aka135 in ('1', '-1') 
		and aae072 not like '%CZ%' 
		AND EXISTS (SELECT 1 FROM AY31@YDJY WHERE P_MSGID = KC24.AKC350) 
		AND NOT EXISTS (SELECT 1 FROM JY_KC24 A WHERE A.AAC001 = KC24.AAC001 AND a.AKA135 = '2' AND SUBSTR(a.AAE072, 3) = KC24.AAE072)
		<if test="begin_time != null and begin_time != ''">
			AND TO_CHAR(AAE036, 'yyyy-MM-dd HH24:mi:ss') <![CDATA[ >= ]]>#{begin_time}
		</if> 
		<if test="end_time != null and end_time != ''">
			AND TO_CHAR(AAE036, 'yyyy-MM-dd HH24:mi:ss') <![CDATA[ <=]]> #{end_time}
		</if>
		ORDER BY AAE040  ASC
	
	</select>
	
	<select id="findAllByCondition" parameterType="java.util.HashMap" resultType="com.neusoft.model.JY_KC24">
		select AAC003, YAB003,YAB300,YAB060,YAB600, AKB021, AAE040, AKC190, AAC002, AKC351,
		AKC021, AKC261, AAB004, AKC264, AKC253, AKC265, AKC255, AAE011, AAE036, AKC260,ZKC025,AKA135,AAE072,AAE314,AAA204
		from JY_KC24
		where akc190 = #{akc190}
	</select>
	
	<select id="findByCondition" parameterType="java.util.HashMap" resultType="com.neusoft.model.JY_KC24">
		select AAC003, YAB003,YAB300,YAB060,YAB600, AKB021, AAE040, AKC190, AAC002, AKC351,
		AKC021, AKC261, AAB004, AKC264, AKC253, AKC265, AKC255, AAE011, AAE036, AKC260,ZKC025,AKA135,AAE072,AAE314,AAA204
		from JY_KC24
		where 1 = 1
		<if test="aac001 != null and aac001 != ''">
			and aac001 = #{aac001}
		</if>
		
		<if test="aac002 != null and aac002 != ''">
			and aac002 = #{aac002}
		</if>
		<if test="aac003 != null and aac003 != ''">
			and aac003 = #{aac003}
		</if>
		order by AAE036 ${order}
	</select>
	
	<select id="getKc24ByAkc351" parameterType="java.util.HashMap" resultType="com.neusoft.model.JY_KC24">
		select AKC261,AKC253,AKC255,ZKC025
		from JY_KC24
		where akc351 = #{akc351}
	</select>
	
	<select id="findAccount" parameterType="java.util.HashMap" resultType="com.neusoft.model.JY_KC24">
		select AKC261,AKC253,AKC265,AKC255,ZKC025
		from JY_KC24
		where akc190 = #{akc190} and aae072 = #{aae072}
	</select>
	
	<select id="findAllErrorAccount" parameterType="java.util.HashMap" resultType="com.neusoft.model.JY_KC24">
	
		SELECT AAC003, YAB003,YAB300,YAB060,YAB600, AKB021, AAE040, AKC190, AAC002, AKC351,AAE314,AAA204 FROM JY_KC24 KC24 
		WHERE TO_CHAR(AAE036, 'yyyyMMdd') >= 20161101
		AND AAE314 = 0 
        AND aka135 in ('1','-1') 
        AND aae072 not like '%CZ%'
		<if test="begin_time != null and begin_time != ''">
			AND TO_CHAR(AAE036, 'yyyy-MM-dd HH24:mi:ss') <![CDATA[ >= ]]>#{begin_time}
		</if> 
		<if test="end_time != null and end_time != ''">
			AND TO_CHAR(AAE036, 'yyyy-MM-dd HH24:mi:ss') <![CDATA[ <=]]> #{end_time}
		</if>
		ORDER BY AAE040  ASC
	
	</select>
</mapper>