<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SQLMapper">
	
	
	<select id="getSqlData" parameterType="String" resultType="java.util.HashMap">
	    ${value}
	</select>
	
	<select id="getStringData" parameterType="String" resultType="java.lang.String">
	    ${value}
	</select>

</mapper>