<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- 诊间结算 -->
	<bean id="zjjsSocket" class="com.neusoft.server.socket.business.zjjs.ZjjsSocket">
		<constructor-arg type="java.lang.String" value="${zjjs_inport}"/><!-- 允许允许的端口 -->
		<property name="zjjsHandler" ref="zjjsHandler"/>
	</bean>
	<bean id="zjjsHandler" class="com.neusoft.server.socket.business.zjjs.ZjjsHandler">
		<constructor-arg type="java.lang.String" value="${zjjs_outurl}"/><!-- 执行的url -->
		<property name="siInterface" ref="siInterface"/>
	</bean>
	<!-- 诊间结算——end -->
	
	<!-- 信息推送-信息获取 -->
	<bean id="xxhq" class="com.neusoft.server.socket.business.xxhq.XxhqSocket">
		<constructor-arg type="java.lang.String" value="${tuisong_inport}"/><!-- 允许运行的端口 -->
		<property name="xxhqHandler" ref="xxhqHandler"/>
	</bean>
	<bean id="xxhqHandler" class="com.neusoft.server.socket.business.xxhq.XxhqHandler">
		<property name="dataSource" ref="hrbsi"/>
	</bean>
	<!-- 信息推送-信息获取——end -->
	
</beans>